.inspirationMain {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background: #f3f3f3;
  flex: 4;
  .left {
    width: 50%;
    img {
      width: 50%;
      height: auto;
      object-fit: cover;
      height: 500px;
      flex: 2;
    }
  }
  .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: #f3f3f3;
    flex: 2;
    padding: 20px 30px;

    h1 {
      text-align: start;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 36px;
      letter-spacing: 0.145em;
      color: #5cce0e;
    }
    h3 {
      font-family: "Poppins";
      font-style: italic;
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      text-align: center;
      color: #000000;
    }
    p {
      font-family: "Poppins";
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      //line-height: 30px;
      color: #5cce0e;
    }
    button {
      width: 200px;
      height: 50px;
      background: rgba(63, 113, 28, 0.88);
      border: none;
      border-radius: 20px;
      cursor: pointer;

      span {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 36px;
        color: #ffffff;
      }
      span:hover {
      }
    }
  }
}
