.aboutUsMain {
  width: 100%;
  height: 904px;
  margin-top: 10%;

  .aboutUsItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 10%;

    h1 {
      width: 316px;
      height: 60px;
      margin: 0;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 60px;
      letter-spacing: 0.145em;
      color: #5cce0e;
    }
    h2 {
      width: 919px;
      height: 108px;
      margin: 0;
      font-family: "Poppins";
      font-style: italic;
      font-weight: 500;
      font-size: 36px;
      line-height: 54px;
      text-align: center;
      color: #1a1a1a;
    }
    p {
      width: 815px;
      height: 288px;
      margin: 30px 0 0 0;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      color: #cf9d5e;
      letter-spacing: 0.24em;
      text-align: center;
    }
    button {
      width: 250px;
      height: 92px;
      background: rgba(63, 113, 28, 0.88);
      border: none;
      margin-top: 40px;

      span {
        width: 194px;
        height: 36px;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #ffffff;
      }
    }
  }
}
