.feedBackMain {
  background-color: aqua;
  width: 100%;
  height: 584px;
  //background: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //background: #f3f3f3;
}
