.feedBackMain {
  background-image: url("../../assets/svgs/feedbackImage.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left bottom;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-around;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-family: "Poppins";
      font-style: italic;
      font-weight: 500;
      font-size: 32px;
      line-height: 48px;
      text-align: center;
      color: rgba(40, 74, 16, 0.88);
    }
    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.465em;
      color: #5cce0e;
    }
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    //border: 4px solid red;
    height: 100vh;
    //padding: 20px;
    //background-color: aqua;
    //gap: 50px;
  }

  label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #5cce0e;
  }

  input {
    border: none;
    border-bottom: 1px solid #cdb699;
    width: 400px;
    outline: none;
    background-color: transparent;
  }
  textarea {
    width: auto;
    background-color: transparent;
    outline: none;
  }
  .emailItems {
    display: flex;
    width: auto;
    align-items: center;
    gap: 20px;
  }
  button {
    width: 164px;
    height: 56px;
    background: rgba(63, 113, 28, 0.88);
    border: none;
    border-radius: 3px;
    color: #ffff;
  }
}
